{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
<!DOCTYPE html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="/scripts/scripts.js"></script>
<title>Aging Candidate</title>
</head>
<body>
<ul class="statement-list">
{% for statement in issue_statements %}
    <li>{{ statement.text }}</li>
{% endfor %}
{% endblock %}
</ul>
</body>
</HTML>
